<!doctype html>
<html lang="pt-br">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    
    <!-- My CSS -->
    {% endblock %}
    <title>{% block title %}Pets{% endblock %}</title>
    
  </head>
  
  <body>
    {% block body %}
    <div class="container-fluid">
      
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">

        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='assets/pets_logoCat.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Pets logo">
          Pets
        </a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSite">
          
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Passear</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Zoos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Meus Pets</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle-split" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Atividades</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <h6 class="dropdown-header">Notificações</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Novas</a>
                  <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Antigas</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Chat</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle-split" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mais</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Meus Pets</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Ajuda e Suporte</a>
                  <a class="dropdown-item" href="#">Configuração</a>
                  <a class="dropdown-item" href="#">Sobre</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Entrar</a>
              </li>
            {% endif %}
          </ul>

        </div>
        
      </nav>

      <div class="container">

        <div class="col-md-6 offset-lg-3">
          <div class="row justify-content-center">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
                  <ul class="flashes">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
          </div>
        </div>

        {% block content %}

        {% endblock %}
      </div>
   
    </div>
    {% block footer %}
      
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% endblock %}
  </body>
</html>